@font-face {
  font-family: "Futura PT";
  src: url("../fonts/subset-FuturaPT-Book.woff2") format("woff2"),
  url("../fonts/subset-FuturaPT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura PT";
  src: url("../fonts/subset-FuturaPT-Bold.woff2") format("woff2"),
  url("../fonts/subset-FuturaPT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura PT";
  src: url("../fonts/subset-FuturaPT-Medium.woff2") format("woff2"),
  url("../sonts/subset-FuturaPT-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Futura PT", serif;
  font-size: 16px;
  line-height: 1.5;
  background-image: url("../img/bg.png");
  background-color: #f9f9f9;
  color: #000;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1350px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  }
pre {
  margin: 0;
}

/* SITEHEADER */
.header-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}
.address-site {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
.phone-numbers {
  display: flex;
  align-items: center;
  margin-left: 106px;
}
.phone-numbers::before,
.working-time::before,
.address-site::before {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-right: 9px;
  content: "";
}
.phone-numbers::before {
  background-image: url("../img/phone-icon.svg");
}
.working-time::before  {
  background-image: url("../img/time-icon.svg");
}
.address-site::before {
  background-image: url("../img/home-icon.svg");
}
.phone-number {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333;
}
.phone-number:hover {
  color: #ffbd54;
}
.phone-number:active {
  opacity: .6;
  color: #333;
}
.circle {
  width: 4px;
  height: 4px;  
  background-color: #ffdb54;
  border-radius: 50%;
  display: inline-block;
  margin: 0 9px;
}
.working-time {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  margin: 0;
  line-height: 18px;
  margin-left: 98px;
}
.site-header__navbar {
  background-color: #fff;
  padding: 17px 0;
}
.site-header__container {
  display: flex;
  align-items: center;
  position: relative;
}
.logotip {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 110px;
  position: absolute;
}
.logotip:hover {
  opacity: 0.8;
}
.logotip:active {
  opacity: 0.6;
}
.logo-img {
  display: block;
}
/* NAVBAR */
.navbar {
  margin-left: 320px;
}
.navbar-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.navbar-items {
  margin-right: 55px;
}
.navbar-items:last-child {
  margin-right: 0;
}
.navbar-link {
  text-decoration: none;
  color: #333;
  position: relative;
  display: flex;
}
.navbar-link::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #f4ffad;
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
  opacity: 0;
}
.navbar-link:hover::after {
  opacity: 1;
}
.navbar-link:active {
  opacity: 0.6;
}
.ask-query {
  text-decoration: none;
  color: #333;
  margin-left: auto;
  display: flex;
  align-items: center;
}
.ask-query::before {
  content: "";
  width: 23px;
  height: 23px;
  display: inline-block;
  background-image: url("../img/pet-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 23px 21px;
  margin-right: 9px;
}
.active {
  display: flex;
  align-items: center;
}
.active::before {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  background-image: url("../img/active-icon.svg");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center center;
  margin-right: 10px;
}
/* STARTED MAIN-PART */
.hero {
  padding: 173px 0 250px 0;
  background-image: url("../img/hero-bg-pets.png"),
  url("../img/hero-bg-parrot.png");
  background-repeat: no-repeat;
  background-size: 870px 835px, 350px 430px;
  background-position: calc(50% - 530px) -100px, calc(50% + 620px) 400px;
}
.hero-info {
  width: 610px;
  margin-left: 640px;
}
.hero-title {
  font-size: 70px;
  line-height: 64px;
  margin: 0;
  margin-bottom: 29px;
  color: #333;
}
.hero-title-blue {
  display: block;
  color: #79c0de;
}
.hero-text {
  width: 500px;
  font-size: 16px;
  line-height: 21px;
  color: #949494;
  margin: 0;
  margin-bottom: 39px;
}
.hero-link {
  display: inline-block;
  vertical-align: baseline;
  padding: 15px 47px;
  text-decoration: none;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
}
.hero-link:hover {
  background-color: #FFBD54;
  color: #333;
}
.hero-link:active {
  opacity: 0.6;
}
/* INTRO started */
.intro {
  margin-bottom: 85px;
  background-image: url("../img/intro-left.png"), url("../img/intro-right.png");
  background-repeat: no-repeat;
  background-position: calc(50% - 455px) 10px, calc(50% + 455px) 80px;
}
.intro-container {
  width: 783px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.intro-line {
  background-color: #dbdbdd;
  width: 140px;
  height: 2px;
  border: none;
  margin: 0 auto;
  margin-bottom: 43px;
}
.intro-text {
  color: #949494;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 35px;
}
.intro-bottom-text {
  font-weight: 500;
  font-style: 20px;
  line-height: 25px;
  margin: 0;
}
/* SERVICES STARTED */
.services {
  margin-top: 85px;
}
.services-container  {
  position: relative;
}
.wrapper {
  padding: 0 44px;
}
.services-title {
  font-size: 48px;
  line-height: 54px;
  margin: 0;
  text-align: center;
  margin-bottom: 80px;
  color: #333;
}
.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.services-item + .services-item { 
  margin-left: 12.8px;
}
.services-item:hover {
  opacity: .8;
}
.services-item:active {
  opacity: .6;
}
.services-active::after {
  content: "";
  top: 201px;
  left: 0;
  width: 193px;
  height: 20px;
  position: absolute;
  background-color: #fff;
  display: inline-block;
}
.services-next {
  display: none;
}
.services-link   {
  padding: 32px;
  background-color: #fff;
  display: inline-block;
  width: 190px;
  height: 201px;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #333;
}
.services-link::before {
  content: "";
  width: 78px;
  height: 78px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: top center;
}
.doctor-girl::before {
  background-image: url("../img/doctor-girl.png");
}
.dog-girl::before {
  background-image: url("../img/dog-girl.png");
}
.hirurg::before {
  background-image: url("../img/small-dog.png");
}
.dermotolog::before {
  background-image: url("../img/big-dog.png");
}
.lab::before {
  background-image: url("../img/veterinary.png");
}
.oftamotolog::before {
  background-image: url("../img/dogs.png");
}
.card-detail {
  position: absolute;
  top: calc(100% + 14px); 
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 0px 5px 5px 5px;
  padding: 42px 35px;
}
.card-detail-img {
  border-radius: 5px;
}
.details {
  width: 500px;
  margin: 0 auto;
}
.details-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 22px;
}
.details-text {
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  margin: 0;
  margin-bottom: 9px;
}
.details-text-last {
  margin-bottom: 35px;
}
.details-links {
  display: flex;
}
.details-link {
  text-decoration: none;
  vertical-align: baseline;
  padding: 13px 36px;
  color: #fff;
  border-radius: 3px;
  display: flex;
  align-items: center;
}
.details-link::before {
  content: "";
  width: 21px;
  height: 21px;
  display: inline-block;
  background-size: 21px 21px;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 7px;
}
.first-link {
  margin-right: 21px;
  background-color: #FFBD54;
}
.first-link:hover {
  background-color: #333;
  color: #FFBD54;
}
.first-link:active {
  opacity: 0.6;
}
.first-link::before {
  background-image: url("../img/money.svg");
}
.right-side-link::before {
  background-image: url("../img/document.svg");
}
.right-side-link {
  background-color: #333;
}
.service-btn {
  border: none;
  background-color: transparent;
  position: absolute; 
  top: 230px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 14px 26px;
  background-position: center center;
  border-radius: 5px;
}
.service-btn:hover {
  background-color: #fff;
  cursor: pointer;
}
.service-btn:active {
  opacity: .7;
}
.service-btn__prev {
  left: 0;
  background-image: url("../img/arrow-left.svg");
}
.service-btn__next {
  right: 0;
  background-image: url("../img/arrow-right.svg");
}
/* STARTED FOLLOW-PART */
.follow {
  padding-top: 800px;
  padding-bottom: 216px;
  background-image: url("../img/follow-bg.png");
  background-repeat: no-repeat;
  background-position: center 570px;
  background-size: contain;
}
.follow-info  {
  width: 550px;
  margin-left: 280px;
}
.follow-title {
  font-size: 48px;
  line-height: 20px;
  color: #fff;
  margin: 0;
  margin-bottom: 38px;
}
.follow-form {
  display: block;
}
.follow-input {
  width: 333px;
  border: 2px solid transparent;
  border-radius: 7px;
  outline: none;
  background-color: #fff;
  color: #949494;
  padding: 12px 22px;
  margin-right: 20px;
}
.follow-input:focus {
  border-color: #ffbd54;
}
.follow-input:not(:placeholder-shown):invalid {
  border-color: #DC4D41;
  color:#DC4D41;
}
.follow-input:not(:placeholder-shown):valid {
  color: #333;
}
.follow-btn {
  display: inline-block;
  border: none;
  background-color: #333;
  color: #fff;
  padding: 14px 50px;
  border-radius: 4px;
  cursor: pointer;
}
.articles {
  margin-bottom: 262px;
}
.articles-title {
  text-align: center;
  font-size: 48px;
  line-height: 20px;
  color: #333333;
  margin: 0;
  margin-bottom: 80px;
}
.article-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.article-item {
  background-color: #fff;
  box-shadow: 0 0 0 1px #E4E4E2;
  width: 305px;
  border-radius: 5px;
}
.article-item:hover {
  box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
}
.article-item:active {
  box-shadow:0px 0px 4px rgba(0, 0, 0, 0.25);
}
.article-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 6px;
}
.article-img {
  display: block;
  margin-bottom: 21px;
}
.article-title {
  font-size: 22px;
  line-height: 25px;
  color: #000;
  padding: 0 32px;
  margin: 0;
  margin-bottom: 15px;
}
.atricle-text {
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  padding: 0 30px;
  margin: 0;
  flex: 1 1 auto;
  margin-bottom: 37px;
}
.article-btn {
  margin-left: 30px;
  padding: 10px;
  border: none;
  background-color: transparent;
  color: #333;
  display: flex;
  align-items: center;
  margin: 0;
}
.article-btn::before {
  content: "";
  margin-right: 6px;
  margin-left: 30px;
  width: 23px;
  height: 23px;
  display: inline-block;
  background-image: url(../img/pet-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.article-item__active {
  width: 640px;
  margin: 0 30px;
  display: flex;
}
.article-item__active .article-img {
  height: auto;
  margin-bottom: 0;
  width: 340px;
}
.article-item__active .article-title {
  margin-top: 40px;
}
.article-span {
  margin-right: 60px;
  margin-left: 30px;
  font-size: 14px;
  line-height: 22px;
  color: #3D9CEA;
}
.article-time {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #949494;
}
.articles-time {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #949494;
  margin-left: 215px;
  margin-bottom: 20;
}
.article-box {
  padding-top: 30px;
  width: 60%;
}
/* FEEDBACK */

.feedback {
  background-image: url("../img/feedback-bg.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 500px) 50px, -100px;
  background-color: #333;
  display: flex;
  margin-bottom: 247px;
}
.feedback-map {
  display: block;
  object-fit: contain;
}
.feedback-box {
  width: 375px;
  margin-left: 166px;
  padding: 62px 0;
}
.feedback-title {
  font-size: 48px;
  line-height: 62px;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 14px;
}
.feedback-text {
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  margin: 0;
  margin-bottom: 28px;
}
.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.feedback-input {
  width: 100%;
  padding: 13px 22px;
  margin-bottom: 14px;
  outline: none;
}
.feedback-area {
  width: 100%;
  height: 165px;
  padding: 13px 22px;
  margin-bottom: 30px;
  outline: none;
}
.feedback-btn {
  display: inline-block;
  padding: 14px 50px;
  background-color: #FFBD54;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}
/* FOOTER */
.site-footer {
  background-color: #DBDBDB;
  padding-top: 54px;
  padding-bottom: 23px;
}
.footer-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style-type: none; 
}
.footer-logo {
  display: block;
}
.footer-logo:hover {
  opacity: 0.8;
}
.footer-logo:active {
  opacity: 0.6;
}
.submenu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.submenu-item + .submenu-item {
  margin-top: 14px;
}
.submenu-link {
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
  text-decoration: none;
  line-height: 21px;
  color: #333333;
}
.submenu-link:hover {
  color: #FFBD54;
}
.submenu-link:active {
  color: rgba(51, 51, 51, 0.7);
}
.footer-numbers {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-numbers-icon {
  position: relative;
}
.footer-numbers-icon::after {
  content: "";
  width: 20px;
  height: 20px;
  background-size: 16px;
  display: inline-block;
  background-image: url(../img/phone-icon.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: -30px;
  top: 0;
}
.footer-address {
  align-items: flex-start;
}
.footer-time {
  align-items: flex-start;
}
.footer-work {
  margin: 0;
  margin-left: 70px;
}
.footer-bottom {
  text-align: right;
  font-size: 14px;
  line-height: 18px;
  color: #5C5C5C;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
.hero {
  background-image: url(../img/hero-bg-pets@2x.png),
  url(../img/hero-bg-parrot@2x.png);
}
.intro {
  background-image: url(../img/intro-left@2x.png), url(../img/intro-right@2x.png);
}
.doctor-girl::before {
  background-image: url(../img/doctor-girl@2x.png);
}
.dog-girl::before {
  background-image: url(../img/dog-girl@2x.png);
}
.hirurg::before {
  background-image: url(../img/small-dog@2x.png);
}
.dermotolog::before {
  background-image: url(../img/big-dog@2x.png);
}
.lab::before {
  background-image: url(../img/veterinary@2x.png);
}
.oftamotolog::before {
  background-image: url(../img/dogs@2x.png);
}
.follow {
  background-image: url(../img/follow-bg@2x.png);
}
.feedback {
  background-image: url(../img/feedback-bg@2x.png);
}
}