@font-face {
  font-family: "Futura PT";
  src: url("../fonts/subset-FuturaPT-Book.woff2") format("woff2"),
  url("../fonts/subset-FuturaPT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura PT";
  src: url("../fonts/subset-FuturaPT-Bold.woff2") format("woff2"),
  url("../fonts/subset-FuturaPT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura PT";
  src: url("../fonts/subset-FuturaPT-Medium.woff2") format("woff2"),
  url("../sonts/subset-FuturaPT-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Futura PT", serif;
  font-size: 16px;
  line-height: 1.5;
  background-image: url("../img/bg.png");
  color: #000;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1350px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  }
pre {
  margin: 0;
}

/* SITEHEADER */
.header-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}
.address-site {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
.phone-numbers {
  display: flex;
  align-items: center;
  margin-left: 106px;
}
.phone-numbers::before,
.working-time::before,
.address-site::before {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-right: 9px;
  content: "";
}
.phone-numbers::before {
  background-image: url("../img/phone-icon.svg");
}
.working-time::before  {
  background-image: url("../img/time-icon.svg");
}
.address-site::before {
  background-image: url("../img/home-icon.svg");
}
.phone-number {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333;
}
.phone-number:hover {
  color: #ffbd54;
}
.phone-number:active {
  opacity: .6;
  color: #333;
}
.circle {
  width: 4px;
  height: 4px;  
  background-color: #ffdb54;
  border-radius: 50%;
  display: inline-block;
  margin: 0 9px;
}
.working-time {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  margin: 0;
  line-height: 18px;
  margin-left: 98px;
}
.site-header__navbar {
  background-color: #fff;
  padding: 17px 0;
}
.site-header__container {
  display: flex;
  align-items: center;
  position: relative;
}
.logotip {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 110px;
  position: absolute;
}
.logotip:hover {
  opacity: 0.8;
}
.logotip:active {
  opacity: 0.6;
}
.logo-img {
  display: block;
}
/* NAVBAR */
.navbar {
  margin-left: 320px;
}
.navbar-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.navbar-items {
  margin-right: 55px;
}
.navbar-items:last-child {
  margin-right: 0;
}
.navbar-link {
  text-decoration: none;
  color: #333;
  position: relative;
  display: flex;
}
.navbar-link::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #f4ffad;
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
  opacity: 0;
}
.navbar-link:hover::after {
  opacity: 1;
}
.navbar-link:active {
  opacity: 0.6;
}
.ask-query {
  text-decoration: none;
  color: #333;
  margin-left: auto;
  display: flex;
  align-items: center;
}
.ask-query::before {
  content: "";
  width: 23px;
  height: 23px;
  display: inline-block;
  background-image: url("../img/pet-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 23px 21px;
  margin-right: 9px;
}
.active {
  display: flex;
  align-items: center;
}
.active::before {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  background-image: url("../img/active-icon.svg");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center center;
  margin-right: 10px;
}
  




































